html, body{
	margin:0;
	padding:0;
	height: 100%;
}

@font-face { 
    font-family: "blockstack"; 
    src: url("fonts/blockstack.ttf");
}

.round {
    width: 200px;
	font-weight:900;
}

h1 { 
    font-family: blockstack;
}

.bottom{
	position:absolute;
	bottom:10%;
}